
[Desktop Entry]
Encoding=UTF-8
Name=Lien vers 123059-T.jpg
Type=Link
URL=http://www.gccd.ca/imgn/123059-T.jpg
Icon=image-jpeg
Name[fr_CA]=bacpapier.jpg
