.pricing
  / %p
  /   %span.label.label-info Base
  %p L'abonnement comprend :
  %ul
    %li l'accès à l'interface administrative pour 1 administrateur
    %li Jusqu'à 200 matières et récupérateurs
    %li
      %b Période d'essai de 7 jours
  %p.justify
    L'abonnement de base vous permettra de gérer les matières et les récupérateurs de votre établissement à afficher aux utilisateurs de l'
    %a{href:'https://play.google.com/store/apps/details?id=com.justindomingue.instavert'} application mobile.
  %hr/
  %h4 15$ /mois
  %h3 9$ /mois pour 3 mois
  %h5
    Coupon
    %span.label.label-info RETOUR2013
  %p.small.text jusqu'au 1er octobre
