<ul data-role="listview">
  <li><input type="search" value="Recherche" />
  <li><a>Matières</a></li>
  <li><a>Lieux de recyclage</a></li>
  <li><%= link_to 'Astuces', astuces_path %></li>
  <li><%= link_to 'Instructions', instructions_path %></li>
</ul><br />
<div data-role="collapsible" data-mini="true">
   <h3>À Propos</h3>
   <p>Application conçue par Justin Domingue. Tous droits réservé au club l'Envert.</p>
</div>