<ul data-role="listview">
  <li><input type="search" value="Recherche" />
  <li><a>Matières</a></li>
  <li><a>Lieux de recyclage</a></li>
  <li><%= link_to 'Astuces', astuces_path %></li>
  <li><%= link_to 'Instructions', instructions_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
  <li><%= link_to 'À Propos', apropos_path %></li>
</ul>