<div data-role="collapsible-set">
  <div data-role="collapsible" data-collapsed="true">
    <h3>Exclusif au Collège André-Grasset</h3>
    <p>Cette fiche est propre au fonctionnement du Collège. 
Dans certains cas, la récupération peut être optimisée via des circuits extérieurs (ex.: compost). Le Collège est en processus d’amélioration constante.</p>
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Objets indémontables</h3>
    <p>Lorsqu’un objet est composé de plusieurs matières et qu’il semble impossible à démonter, il n’est probablement pas recyclable.</p>
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Recyclabilité d’un produit</h3>
    <p>La recyclabilité d’un produit peut dépendre de sa matière et des infrastructures du centre de tri d’accueil.</p>
  </div>
  <div data-role="collapsible" data-collapsed="true">
    <h3>Questions</h3>
    <p>Vous avez des questions, contactez la conseillère en environnement : local B-227; poste 211.</p>
  </div>