<ul data-role="listview">
  <li>RECYC-QUÉBEC
    <ul data-role="listview" >
      <li>1 800 807-0678</li>
      <li>514 351-7835</li>
      <li><a href="http://www.recyc-quebec.gouv.qc.ca" target="_blank">Site internet</a></li>
    </ul>
  </li>
  <li>Conseiller en environnement
    <ul data-role="listview">
      <li>Local B-227</li>
      <li>514 381-4293, poste 211</li>
    </ul>
  </li>
</ul>