<ul data-role="listview">
  <li data-role="list-divider">Top 5 Matières</li>
    <% @favorite_products.each do |p| %>
      <li><%= link_to p.name, p %></li>
    <% end %>
  <li data-role="list-divider">Top 5 Lieux de recyclage</li>
    <% @favorite_places.each do |p| %>
    <li><%= link_to p.name, p %></li>
    <% end %> 
</ul>