<ul data-role="listview" data-filter="true">
  <% unless @favoris.empty? %>
  <li>
    <%= link_to @favoris.name, @favoris %>
  </li> 
  <% else %>
    <li>La base de données est vide</li>
  <% end %>
</ul>