.jumbotron
  - if user_signed_in?
    %h1 Welcome back, trusted user!
    %p
      You have signed in!  If this were a real app some sweet conent
      would go here.  But it's just a test.  You might want to sign out now.
    = link_to "Sign Out", destroy_user_session_path, :method => :get, :class => 'btn btn-large btn-danger'
  - else
    %h1 Une Petite Révolution
    %p
      Instavert permet de connaitre instantanément où disposer d'une foule de matières.
    %p
      = link_to "Inscription", new_user_registration_path, :class => "btn btn-lg btn-success"