.jumbotron
  %h1 Une Petite Révolution
  %p
    Instavert permet de connaitre instantanément où disposer d'une foule de matières. Inscrivez dès aujourd'hui votre établissement scolaire ou votre bureau!
  %p
    = link_to "Inscription", new_user_registration_path, :class => "btn btn-lg btn-default"

/ .row.marketing
/   .col-lg-4
/     = image_tag 'marketing1.png', class:'img-thumbnail', width:'140', height:'140'
/     %h2 Personnalisation
/     %p À la suite de l'inscription, vous obtiendrez un accès illimité à un tableau de bord personnalisé pour gérer les matières et les récupérateurs de votre établissement. Les étudiants et les membres du personnel obtiendrons une mise à jour automatique sur leur téléphone mobile ou leur tablette.
/     %p
/       %a.btn.btn-default{href:'#'} Voir les détails »
/   .col-lg-4
/     = image_tag 'iphone.png', class:'img-circle', width:'140', height:'140'
/     %h2 Personnalisation
/     %p À la suite de l'inscription, vous obtiendrez un accès illimité à un tableau de bord personnalisé pour gérer les matières et les récupérateurs de votre établissement.
/     %p
/       %a.btn.btn-default{href:'#'} Voir les détails »
/   .col-lg-4
/     = image_tag 'iphone.png', class:'img-circle', width:'140', height:'140'
/     %h2 Personnalisation
/     %p À la suite de l'inscription, vous obtiendrez un accès illimité à un tableau de bord personnalisé pour gérer les matières et les récupérateurs de votre établissement.
/     %p
/       %a.btn.btn-default{href:'#'} Voir les détails »
/       
