.jumbotron
  %h1 Prix spécial d'introduction!
  %p Instavert permet de connaitre instantanément où disposer d'une foule de matières. Inscrivez dès aujourd'hui votre établissement scolaire ou votre bureau!
  %p
    = link_to "Inscription", new_user_registration_path, :class => "btn btn-lg btn-default"