<h3>Comment utiliser l'application</h3>

<div data-role="collapsible-set" data-theme="c" data-content-theme="d">

	<div data-role="collapsible" data-collapsed="false">
	<h3>Introduction</h3>
	<p>L'application permet de chercher facilement où doivent être recyclés différentes matières recyclables.</p>
	</div>
	
	<div data-role="collapsible">
	<h3>Barre de recherche</h3>
	<p>La façon la plus simple d'utiliser l'application est par la barre de recherche à la page d'accueil. Entrez simplement une matière ou un lieu et appuyez sur <i>Enter</i>. L'application effectue une recherche dans la base de données et tente de trouver des occurences du champ de recherche pour vous.
    Vous pouvez aussi accéder à cette barre en appuyant sur l'icône recherche à la page d'accueil.
  </p>
	</div>
  
  <div data-role="collapsible">
	<h3>Matières et lieux de recyclage</h3>
	<p>L'application permet aussi de naviguer à travers toutes les matières et tous les lieux répertoriés dans la base de données.</p>
	</div>
  
  <div data-role="collapsible">
	<h3>Favoris</h3>
  <p>La page de favoris liste les matières les plus recherchées par les utilisateurs de l'application.</p>
	</div>
  
  <div data-role="collapsible">
	<h3>Contacts</h3>
  <p>Si vous avez des questions concernant le recyclage ou l'utilisation du site web, allez faire un tour à la section contacts.</p>
	</div>
  
  <div data-role="collapsible">
	<h3>Statistiques</h3>
  <p>La page de statistiques affiche les statistiques relatives à l'utilisation du site internet.</p>
	</div>
	
</div>