<% if params[:recherche] == nil %>
  <%= render 'shared/searchform' %>
<% else %>
<ul data-role="listview">
  <% if @products.empty? && @places.empty? %>
  <li>Aucun résultat trouvé</li>
  <% else %>
  <% unless @products.empty? %>
  <li data-role="list-divider">Matière</li>
    <% @products.each do |p| %>
      <li><%= link_to p.name, p %></li>
    <% end %>
  <% end %>
  <% unless @places.empty? %>
  <li data-role="list-divider">Lieux de recyclage</li>
    <% @places.each do |p| %>
    <li><%= link_to p.name, p %></li>
    <% end %> 
  <% end %>
  <% end %>
</ul>
<% end %>