.row
  .col-md-6
    .border-form-div.border-form-div
      %h2 Détail de l'abonnement
      = render "shared/pricing"
  .col-md-6
    .border-form-div.border-form-div
      %h2 Ajouter un abonnement
      = render "form"
