.centering {
  text-align: center;
}

.paginator {
  text-align: center;
  padding: 7px;
  font-size: 1.3em;
}

.paginator a{
  text-decoration: none;
}

.icon p {
  font-weight: bold;
  font-size: 0.8em;
}

.icon img {
  border-radius: 7px;
}

#footer {
  font-size: 0.8em;
  text-decoration: none;
  font-color: black;
}

#footer a {
  text-decoration: none;
  font-color: black;
}

.places_table {
  margin: 5px;
  text-align:right;
}

 .product-desc { color:gray; margin-left: 5px;}