body {
  padding-top: 10px;
  padding-bottom: 40px;
}

.masthead { margin-bottom: 30px; }
.masthead h3 { 
  font-family: 'Lobster';
  font-size: 4em;
  line-height: 0.7;
}

.marketing { text-align: center; }

/* User sign in and sign forms. */
.border-form-div {
  max-width: 450px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div-small { max-width: 300px !important; }
.border-form-div-large { max-width: 500px !important; }
.border-form-div form, .border-form-div h2 { text-align: center;}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.jumbotron {
  background-image: url('/assets/bg.jpg');
  color: white;
  background-position: 0;
  background-size: 100% 300%;
}
/* OTHER */

.panel-heading { font-weight: bold;}
.centering { text-align: center;}

.btn.sub-plusinfo { width: 64px; }
.float-right { float: right; }

.icon {
  float:left;
  margin-right: 16px;
}

.featurette-divider {
  margin: 50px 0;
}

.dropdown-menu {
  margin: 2px -73px !important;
}
.dropdown-menu .glyphicon {
  margin-right: 7px;
}

.payment-errors { color: red; }