/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
  font-family:"Bira - PERSONAL USE ONLY";
  src:url("/assets/Bira_PERSONAL_USE_ONLY.eot?") format("eot"),url("Bira_PERSONAL_USE_ONLY.woff") format("woff"),url("Bira_PERSONAL_USE_ONLY.ttf") format("truetype"),url("Bira_PERSONAL_USE_ONLY.svg#Bira-PERSONALUSEONLY") format("svg");
  font-weight:normal;
  font-style:normal;
}
.bira-title {font-family:"Bira - PERSONAL USE ONLY";}

.centering {
  text-align: center;
}

.paginator {
  text-align: center;
  padding: 7px;
  font-size: 1.3em;
}

.paginator a{
  text-decoration: none;
}

.icon p {
  font-weight: bold;
  font-size: 0.8em;
}

.icon img {
  border-radius: 7px;
}

#footer {
  font-size: 0.8em;
  text-decoration: none;
  font-color: black;
}

#footer a {
  text-decoration: none;
  font-color: black;
}

.places_table {
  margin: 5px;
  text-align:right;
}

 .product-desc { color:gray; margin-left: 5px;}