<%= render 'shared/searchform' %>
<br />
<ul data-role="listview">
  <h1 class="centering">Navigation par matière</h1>
  <% unless @products.empty? %>
  <div class="paginator"><%= alphabar @paginator %></div>
  <%= render :partial => 'product', :collection => @products %>
  <% else %>
    <li>La base de données est vide</li>
  <% end %>
</ul>