<li>
  <img class="ui-li-thumb" src="http://help.adobe.com/en_US/Scene7/4.4/Using/images/Trash_icon.png" />
  <%= link_to place.name, place %>
  <span class="ui-li-count"><%= place.products.count %></span>
</li>