<ul data-role="listview" class="ui-listview">
  <h1 class="centering">Les matières suivantes y sont recyclées :</h1>
  <% @place.products.each do |product| %>
  <li><%= product.name %></li>
  <% end %>
</ul>